/* .nav > li.navSamt > a { */
/* 	padding: 20px 20px; */
/* } */

body {
	background-color: #230000;
	font-family: AauxPro;
	color: #000000;
}

.navbar-default .navbar-nav > li > a {
	color: #000000;
}

.navbar-nav > li > a {padding: 6px 15px 5px 15px;}

.navbar {min-height:32px}

.navbar-fixed-top {
    height: 25px;
    padding: 0% 10%;
}

@media (max-width:1200px){
	.navbar-fixed-top {
    	padding: 0% 0%;
	}
}

a.navbar-brand > img{
	height:100pt; 
	margin-left: auto; 
	margin-right:auto; 
	margin-top: -15px
}

.samt_titulo{
	display: inline-block;
	font-size: 18pt;
	font-weight: bold;
	background-color: #FFF100;
	padding-top: 5px;
	padding-left: 15px;
	padding-right: 150px;
}

.linha_amarela {
	background-color: #FFF100;
	height: 5px;
}

li.navSamt {
	font-size: 14pt;
	font-weight: bold;
}