body {
	background-image:url('../img/site/background.svg');
	background-color:#230000;
	font-family: AauxPro;
	color: #000000;
}

.not-select-text {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.navbar-default .navbar-nav > li > a {
	color: #000000;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
	color: #000000;
	background-color: #FFF100;
}

.navbar-nav > li > a {padding: 6px 15px 5px 15px;}

.navbar {
	min-height:31px;
	border: 0px;
	margin-bottom: 0px;
}

.navbar-fixed-top {
    height: 25px;
    padding: 0% 18%;
}

@media (max-width:1600px){
	.navbar-fixed-top {
    	padding: 0% 15%;
	}
}

@media (max-width:1450px){
	.navbar-fixed-top {
    	padding: 0% 10%;
	}
}

@media (max-width:1250px){
	.navbar-fixed-top {
    	padding: 0% 5%;
	}
}

@media (max-width:1100px){
	.navbar-fixed-top {
    	padding: 0% 0%;
	}
}
a.navbar-brand > img{
	height:100pt; 
	margin-left: auto; 
	margin-right:auto; 
	margin-top: -15px
}

.samt_titulo{
	display: inline-block;
	font-size: 14pt;
	font-weight: bold;
	background-color: #FFF100;
	padding-top: 5px;
	padding-left: 15px;
	padding-right: 150px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.linha_amarela {
	background-color: #FFF100;
	height: 5px;
}

li.navSamt {
	font-size: 12pt;
	font-weight: bold;
}

.navbar-toggle {
	position: relative;
	float: right;
	padding: 2px 10px;
	margin-top: 1px;
	margin-right: 15px;
	margin-bottom: 0px;
	background-image: none;
	border-radius: 4px;
	font-size: 12pt;
	font-weight: bold;
	background-color: #FFF100;
	border: none;
}

.navbar-brand {
	height: 31px;
	padding: 0px 15px;
}

@media (max-width:1000px){
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border:none;
		background-color: #FFFFFF;
		margin-left: 50%;
		
	}
}

li.logout {
	display:none;
}

li.logout.appear {
	display:block;
}

.confirmDialog {
    display:none;
}

.confirmDialog.appear {
    display:block;
}

.subtitulo_site {
    background-color: #FFF100;
    color: #000000;
    padding: 5px;
    width: 40%;
    font-weight: bold;
    font-size: 12pt;
    margin-left: 5%;
}

.linha_amarela_subtitulo {
    background-color: #FFF100;
    height: 3px;

}