.samt_news {
	background-color: #FFFFFF;
	width: 100%;
	height: 340px;
	-ms-background-position-x: 0%;
  	-ms-background-position-y: 28%;
 	background-position: 0% 28%;
 	background-size: cover;
	border-bottom: 5px solid #FFFFFF;
	transition: background-image 0.8s ease-in-out;
}

.samt_news_body {
	display: block;
	width: 400px;
	float: right;
	position: relative;
	right: 10%;
	top: 11%;
}

.samt_news_aba {
	font-size: 11pt;
	font-weight: bold;
	margin-top:7px;
	background-color: #FFF100;
	padding: 2px 10px;
	display: inline-block;
	border: none;
	float: right;
	cursor: pointer;
}

.samt_news_aba.active {
	font-size: 12pt;
	margin-top:0px;
	background-color: #FFFFFF;
	padding: 5px 15px;
}

.samt_news_text {
	background-color: #FFFFFF;
	width: 400px;
	height: 200px;
	position: relative;
	top:32px;
}

@media (max-width:1400px) {
	.samt_news {
		height: 260px;
	}
	
	.samt_news_body {
		top: 3%;
	}
	
	.samt_news_text {
		height: 180px;
	}
}

.samt_news_titulo {
	font-weight: bold;
	font-size: 14pt;
	padding: 10px 15px;
	text-align: right;
	position: absolute;
	top: 0px;
	right: 0px;
}

.samt_news_resumo {
	padding: 0px 15px;
	font-size: 11pt;
	text-align: right;
	position: absolute;
	top: 70px;
	right: 0px;
}

.samt_news_leia_mais {
	background-color: #230000;
	position: absolute;
	bottom: 0px;
	right: 0px;
	color: #FFFFFF;
	font-size: 11pt;
	text-decoration: underline;
	cursor: pointer;
	padding: 5px;
	font-size: 10pt;
}

.samt_news_seletor {
	background-color: #230000;
	display: block;
	float: left;
	vertical-align: middle;
	position: relative;
	top: 32px;
	height: 30px;
}

ul.samt_news_seletor_bolinhas{
	list-style-type: none;
	list-style: none;
	margin: 0;
	padding: 0;
	border: none;
	display: inline-block;
}

.samt_news_seletor_bolinhas li{
	display:inline-block;
	float:left;
	margin: 5px;
	margin-top:10px;
	width: 9pt;
	height: 9pt;
	background-color: #FFFFFF;
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: none;
}

.samt_news_seletor_bolinhas li.active {
	zoom: 1;
	filter: alpha(opacity=100);
	opacity: 1;
}

.samt_news_seletor_bolinhas a{
	color: transparent;
	display: block;
	border: none;
}

.samt_news_flecha {
	display: inline;
}

.samt_news_flecha > img{
	width: 22px;
	height: 19px;
	margin-bottom: 16px;
	cursor: pointer;
}

.samt_news_flecha_esquerda {
	margin-left: 2px;
	margin-right: 40px;
}

.samt_news_flecha_direita {
	margin-left: 40px;
	margin-right: 2px;
}

.samt_projeto {
	padding:0;
	cursor: pointer;
}

.samt_projeto > img{
	position: relative;
	width: 100%;
	height: 240px;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
	z-index: 1200;
}

.samt_projeto_nome {
	font-size: 12pt;
	background-color: #FFFFFF;
	position: absolute;
	width: 100%;
	top: 200px;
	text-align: center;
	line-height: 40px;
	height: 40px;
	font-weight: bold;
	z-index:1400;
}

.linha_fim_projetos {
	position: relative;
	width: 100%;
	top: 240px;
}

.samt_projeto.active > img{
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	filter: grayscale(0%);
}

.samt_projeto.active > div.samt_projeto_nome {
	visibility: hidden;
}

.samt_projeto_flecha {
	position: relative;
	width: 100%;
	text-align: center;
	top: -27px;
	visibility: hidden;
	z-index: 1200;
}

.samt_projeto.active > div.samt_projeto_flecha {
	visibility: visible;
}

.samt_projeto_texto {
	position: relative;
	top: -44px;
	background-color: #FFFFFF;
	z-index: -1500;
	height: 200px;
	border-radius: 0px 0px 30px 30px;
	width: 150%;
	transform: translate(0px,-200px);
	opacity:0;
	transition: 0.3s ease-in-out;
	cursor:default;
}

@media (max-width:1400px){
	.samt_projeto > img{
		height: 160px;
	}
	
	.samt_projeto_nome {
		top: 120px;
	}
	
	.linha_fim_projetos {
		top:160px;
	}
	
	.samt_projeto_texto {
		height: 160px;
		transform: translate(0px,-160px);
	}
}

.samt_projeto.last > .samt_projeto_texto {
	right: 50%;
}

.samt_projeto.middle > .samt_projeto_texto {
	right: 25%;
}

.samt_projeto_texto > div.samt_projeto_titulo {
	position: relative;
	top: 10px;
	font-size: 14pt;
	padding: 0px 40px;
	font-weight: bold;
	text-align: center;
	cursor: text;
}

.samt_projeto_texto > div.samt_projeto_resumo {
	position: relative;
	margin-top: 15px;
	font-size: 11pt;
	padding: 0px 40px;
	cursor: text;
}

.samt_projeto.active > .samt_projeto_texto {
	transform: translate(0);
	z-index: 1000;
	opacity: 1;
}

.flecha-dupla {
    width: 9px;
    margin-left: 5px;
    position: relative;
    bottom: 2px;
}

.flecha-dupla-titulo {
    width: 13px;
    margin-left: 2px;
    position: relative;
    bottom: 2px;
}

.samt_projeto_leia_mais {
	border-radius: 0px 0px 30px 0px;
	background-color: #FFF100;
	position: absolute;
	bottom: 0px;
	right: 0px;
	cursor: pointer;
	padding: 5px;
	padding-right: 15px;
	font-size: 10pt;
	z-index: 1500;
}

.samt_projeto_leia_mais > a {
	color: #000000;
}