.samt_news {
	width: 100%;
	-ms-background-position-x: 0%;
  	-ms-background-position-y: 28%;
 	background-position: 0% 28%;
 	background-size: cover;
}

.samt_news_lg {
	height: 400px;
}

.samt_news_md {
	height: 275px;
}