ul.lista_elementos {
	list-style: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline-block;
	margin-bottom: 10px;
	width: 100%;
}

ul.lista_elementos > li {
	overflow:hidden;
	height: 323px;
	width: 100%;
}

.imagem_elemento {
	width: 100%;
	height: 320px;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
	
}

.imagem_elemento:hover {
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	filter: grayscale(0%);
}

.resumo_elemento {
	background-color: #FFFFFF;
	border-top: 3px solid #FFF100;
	border-bottom: 3px solid #FFF100;
	height: 100px;
	position: absolute;
	top: 320px;
	width: 100%;
	padding: 10px 40px;
	font-size: 11pt;
	transition: 0.3s ease-in-out;
}

.titulo_elemento {
	position: absolute;
	top: 285px;
	background-color: #FFF100;
	padding: 5px 30px;
	font-size: 14pt;
	font-weight: bold;
	width: 50%;
	transition: 0.3s ease-in-out;
}

.elemento {
	cursor: pointer;
	overflow: hidden;
}

.elemento.selected > .titulo_elemento {
	transform: translate(0px,-99px);
}

.elemento.selected > .resumo_elemento {
	transform: translate(0px,-99px);
}

li.elemento.selected > div > a > img.imagem_elemento {
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	filter: grayscale(0%);
}

@media(max-width:1400px){
	ul.lista_elementos > li {
		height: 253px;
	}
	.imagem_elemento {
		height: 250px;
	}
	.titulo_elemento {
		top: 214px;
	}
	.resumo_elemento {
		top: 152px;
	}
	.elemento.selected > .titulo_elemento {
		top: 117px;
	}
}

.titulo_elemento_direita {
	text-align: right;
	right: 0px;
}

.titulo_elemento_direita > a {
	text-align: right;
}

.titulo_elemento > a {
	color: #000000;
}

.sem_padding {
	padding: 0px;
}

.leia_mais_elemento {
	position: absolute;
	bottom: 0px;
	right: 0px;
	padding: 5px;
	padding-right: 15px;
	background-color: #FFF100;
}

.leia_mais_elemento > a{
	color: #000000;
}