.noticia_container{
	text-align: center;
}

table.noticia{
	margin: 0px 0px 35px 0px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.noticia th a{
	color: #AA2d2d;
	font-size: 20px;
}

.noticia td.data{
	color: #4d4d4d;
	font-style: italic;
	padding-bottom: 15px;
}

.noticia img{
	height: 300px;
	width: 400px;
	padding-bottom: 15px;
}

.noticia td{
	
}

table.procurar_noticia{
	margin: 10px 15px 40px 15px;
}

