.parceiro_espacamento {
	background-color: #FFFFFF;
	height: 100px;
	width: 100%;
}

.div_parceiro_lateral {
	background-color: #FFFFFF;
	height: 200px;
	text-align: center;
}

.div_parceiro {
	background-color: #FFFFFF;
	height: 200px;
	text-align: center;
}

.foto_parceiro {
	width: 175px;
	height: 175px
}

.nome_parceiro {
	position: relative;
	bottom: 32px;
	font-size: 12pt;
	font-weight: bold;
	background-color: #FFF100;
	width: 175px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}

.botaoExcluir {
	background-color: #FFF100;
	color: #000000;
	position: absolute;
	top: 50%;
	right: 50%;
	text-align: center;
	display:none;
    padding:5px;
    margin-right: -90px;
    margin-top: -110px;
    cursor: pointer;
}

.botaoExcluir > img {
    width:17px;
    height:17px;
    position:relative;
    bottom:1px;
    padding-left: 3px;
}

.botaoEditar {
	background-color: #FFF100;
	color: #000000;
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	display:none;
    padding:5px;
    margin-left: -90px;
    margin-top: -110px;
    cursor: pointer;
}

.botaoEditar > img {
    width:17px;
    height:17px;
    position:relative;
    bottom:1px;
    padding-left: 3px;
}

.botaoExcluir.appear,
.botaoEditar.appear {
	display:block;
}