.projetos {
	width: 100%;
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}

.galeria_projetos {
	margin-left: auto;
    margin-right: auto;
	position: relative;
	overflow: hidden;
	height: 400px;
	width: 600px;
	text-align: center;
	margin-top: 20px;
	border-radius:15px;
}

.projeto_inicio {
	position: absolute;
	height: 400px;
	width: 600px;
	opacity: 0;
	filter: alpha(opacity = 0);
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}

.projeto_inicio img{
	border-radius:15px;
}

.projeto_inicio.active {
	opacity: 1;
	filter: alpha(opacity = 1);
}

.projeto_inicio_titulo{
	z-index:1000;
    position:absolute;
    top:366px;
    left:0;
    text-align: center;
    width: 100%;    
    color:white;
    font-size:24px;
    background-color: transparent;
}

.projeto_inicio_titulo_back{
	z-index:900;
    position:absolute;
    top: 366px;
    left: 0;
    background-color: #000000;
    opacity:0.6;
    -moz-opacity:0.6;
    filter: alpha(opacity=60);
    width: 100%;
    height: 34px;
    border-radius: 0px 0px 15px 15px;
}

ul.seletor_projeto{
	list-style-type: none;
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline-block;
	margin-bottom: 10px;
}

.seletor_projeto li{
	display:inline-block;
	float:left;
	border: 3px solid #888888;
	margin: 5px;
	width: 16px;
	height: 16px;
}

.seletor_projeto li.active {
	border: 3px solid #FF0000;
}

.seletor_projeto a{
	color: transparent;
	display: block;
}