<div class="container-fluid">
    <div class="row preview_secao" ng-class="mustAppear('preview')">
        <div class="corpo_secao col-lg-8 col-md-10 col-sm-12 col-lg-offset-2 col-md-offset-1">
            <div class="imagem_secao" style="background-color: #FFFFFF">
                <img ng-src="{{srcimagem_elemento}}" class="imagem_secao_escolhida" style="top:{{-info.distanceTop}}%"/>
                <input id="imagemElemento" name="imagemElemento" type="file" file-model="info.image_elemento" fileread="srcimagem_elemento" class="image_selector"/>
            </div>
            <div class="titulo_secao"><input name="titulo" type="text" ng-model="info.titulo" style="width: 100%;"/></div>
            <div class="alinhar_imagem_container">
                <label for="distancetop">Alinhar imagem: </label>
                <input id="distancetop" name="distancetop" type="number" min="0" max="10000" ng-model="info.distanceTop"/>
            </div>
            <div class="conteudo_secao">
                <div class="data_secao" ng-class="mustAppear('data')">{{texts.data_postado}} {{dataAtual | date: 'HH:mm'}} de {{dataAtual | date : 'dd/MM/yyyy'}}</div>
                <div class="input_secao">
                    <label for="texto">Texto:</label><br/>
                    <textarea id="texto" name="texto" type="text" rows="10" cols="100" ng-model="info.texto"></textarea>
                </div>
                <div class="texto_secao" ng-class="mustAppear('texto')" ng-bind-html="info.texto_html"></div>
                <div class="informacoes_evento_secao" ng-class="mustAppear('info')">
                    <p class="informacoes">{{texts.informacoes}}:</p>
                    <p class="local_data">Local:</p>
                    <p class="conteudo"><input id="local" name="local" type="text" ng-model="info.local"/></p>
                    <p class="local_data">Data:</p>
                    <p class="conteudo"><input id="data" name="data" type="text" ng-model="info.data"/><!--TODO DATE PICKER!--></p>
                </div>
                <div class="input_secao">
                    <label for="resumo">Resumo:</label><br/>
                    <textarea id="resumo" name="resumo" type="text" rows="4" cols="60" ng-model="info.resumo"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="corpo_secao col-lg-8 col-md-10 col-sm-12 col-lg-offset-2 col-md-offset-1" style="background-color: #FFFFFF; padding-top:130px; padding-left: 10%; padding-right: 10%">
            <div class="subtitulo_site">
                Agenda
            </div>
            <div class="linha_amarela_subtitulo"></div>
            <label for="bairro">Escreva seu bairro aqui: </label>
            <input id="bairro" type="text" style="width:50px;" ng-model="filtroAgenda"/>
            <table>
                <tr>
                    <th>Data</th>
                    <th>Bairro</th>
                </tr>
                <tr ng-repeat="curso in info.cursos">
                    
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="corpo_secao col-lg-8 col-md-10 col-sm-12 col-lg-offset-2 col-md-offset-1" style="background-color: #FFFFFF; padding-top:130px; padding-left: 10%;">
            <form ng-submit="sendInfo()">
                <div class="form_parceiro" ng-class="mustAppear('form_parceiro')">
                    <label for="nome">Nome:</label>
                    <input id="nome" name="nome" type="text" ng-model="info.nome"/><br/>

                    <label for="url">Url:</label>
                    <input id="url" name="url" type="text" ng-model="info.url"/><br/>

                    <label for="imagemparceiro">Imagem do Parceiro:</label>
                    <input id="imagemparceiro" name="imagemparceiro" type="file" file-model="info.image" fileread="srcimagem"/><br/>

                    <label for="imagemParceiroEscolhida">Imagem escolhida:</label>
                    <img id="imagemParceiroEscolhida" style="width:175px; height:175px" ng-src="{{srcimagem}}"/><br/>
                </div>

                <input type="submit" value="Upload" />
            </form>

        </div>
    </div>
	<div class="row">
		<div class="corpo_secao col-lg-8 col-md-10 col-sm-12 col-lg-offset-2 col-md-offset-1">
			<div class="fim_conteudo_secao"></div>
		</div>
	</div>
</div>