<div class="container-fluid">
  <div class="row">
    <div class="sem_padding col-md-10 col-lg-8 col-xs-12 col-sm-12 col-lg-offset-2 col-md-offset-1">
      <!--Body content-->

      <ul class="lista_elementos">
        <li style="position:relative;" ng-repeat="projeto in projetos" class="elemento" ng-click="selectElement(projeto._id)" ng-class="isElementSelected(projeto._id)">
          	<div><a><img class="imagem_elemento" ng-src="{{projeto.imagemUrl}}"></a></div>
        	<div class="titulo_elemento" ng-class="{true:'titulo_elemento_direita',false:''}[$index%2==1]"><a>{{projeto.nome}}</a></div>
        	<div class="resumo_elemento">{{projeto.resumo}}</div>
        	<div class="linha_amarela"></div>
        </li>
      </ul>

    </div>
  </div>
</div>
